<!-- templates/shop/signup.html -->
{% extends "shop/base.html" %}
{% load i18n static%}
{% block  title %}
{% endblock %}
{% block shop-filter %}
{% endblock %}
{% block style %}
   <link href="{% static 'css/add_shop.css' %}" rel="stylesheet">
{% endblock %}
{% block searchField %}
{% endblock %}
{% block cart %}
<h2 style="backgroun-color:"> 
{% blocktranslate with user_name=request.user %}
Well Come  Dear  <strong>{{user_name}} </strong> Fill the Follwing info and procced to next step 
to activate your Business

{% endblocktranslate %}
 </h2>
{% endblock %}
{% block content %}


 {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
    {% endif %}
 <div class="container-wrapper">  
 <div class="left-container">
    <h4>{% translate 'How to Register Your Business' %}</h4>
    <p>{% translate 'Follow these steps to register your business successfully:' %}</p>
    <ol>
        <li>{% translate 'Enter the name of your business. give short and concise name' %}</li>
        <li>{% translate 'Provide a address ,where your Businuss Found.' %}</li>
        <li>{% translate 'Click on the Submit button to procced for registration.' %}</li>
    </ol>
    <h3>{% translate 'Benefits of Registering' %}</h3>
    <ul>
        <li>{% translate 'Reach more customers.' %}</li>
        <li>{% translate 'Increase your sales.' %}</li>
        <li>{% translate 'Gain access to special features.' %}</li>
    </ul>
 
</div>
<div class="container mt-4">
<h1>{%translate 'add your Business'%} </h1>
   <form method="post" id="shopForm">
    {% csrf_token %}
    <div class="form-group">
        <label class="form-label-control" for="{{ form.shopName.id_for_label }}">
            {% translate 'Business Name' %}
        </label>
        {{ form.shopName }}
        <div class="text-danger" id="shop-name-error"></div> 
    </div>
    <div class="form-group">
        <label class="form-label-control" for="{{ form.address.id_for_label }}">
            {% translate 'Address' %}
        </label>
        {{ form.address }}
        <div class="text-danger" id="address-error"></div> 
    </div>
    <div class="form-group">
        <label class="form-label-control" for="{{ form.contact_number.id_for_label }}">
            {% translate 'Phone Number' %}
        </label>
        {{ form.contact_number }}
        <div class="text-danger" id="contact-number-error"></div> 
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
    </div>
</form>

</div>
   <div class="right-container">
    <h3>{% translate 'Need Help?' %}</h3>
    <p>{% translate 'If you have any questions, feel free to contact our support team at' %} 
    <br/>
    <i class="fas fa-envelope"></i> &nbsp &nbsp<a href="mailto:jemberu0970@gmail.com">jemberu0970@gmail.com</a>.
       <br/> <i class="fas fa-phone"></i><strong>&nbsp &nbsp 0970013586  </strong>
    </p>
       <h3>{% translate 'FAQs' %}</h3>
        <details>
            <summary>{% translate 'Q: What if I don’t have a business name yet?' %}</summary>
            <p>{% translate 'A: You can register as an individual seller and update your business name later.' %}</p>
        </details>
        <details>
            <summary>{% translate 'Q: Can I change my business details later?' %}</summary>
            <p>{% translate 'A: Yes, you can update your business details from your Adminstration page.' %}</p>
        </details>
    <h3>{% translate 'Terms and Conditions' %}</h3>
    <p>{% translate 'By registering, you agree to our' %} <a href="#">{% translate 'terms and conditions' %}</a>.</p>
    </div>
<script src="{% static 'js/add_shop_form.js' %}"></script>

</div>
{% endblock %}
