{% extends "shop/base.html" %}
{% load i18n static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block product-sort  %}
{% endblock %}
{% block shop-filter %}
{% endblock %}
{% block style %}
   <link href="{% static 'css/productdetail.css' %}" rel="stylesheet">

{% endblock %}

{% block shop-info %}

 {% endblock %}

{% block content %}
 <div class="product-detail">
     <div class="product-detail_body">
           <div class="product-detail_image-container">
                <div class="image-scroll">
                    <img id="mainImage" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
                    <button class="previmg" >&#10094;</button>
                    <button class="nextimg" >&#10095;</button>
                </div>

                 {% if product.images %}
                <div class="related-images">
                    <!-- Add data-index attribute to track the index -->
                    <img class="related-image" data-index="0" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">

                    {% for image in product.images.all %}
                    <img class="related-image" data-index="{{ forloop.counter }}" src="{{ image.image.url }}" alt="{{ product.name }}">
                    {% endfor %}
                </div>
                 {% endif %}
            </div>

            <div class="product-detail_side-bar">
                <h1> {% blocktranslate with shopname=product.shop %} Dear Customer, Welcome to 
                 <strong>{{shopname}}</strong>{% endblocktranslate %}</h1>
                 <br/> <br/>


                {% with shop=product.shop %}

                {% if shop.social_media %}
                <div class="shop-info-wrapper">

                    {% translate 'Thank you for choice us, for more info contact us with' %}:&nbsp &nbsp 
                    <div class="shop-info">
                        {% if shop.social_media.facebook_url%}
                        <a href="{{shop.social_media.facebook_url}}" target="_blank"><i class="fab fa-facebook-f" title="Facbook"></i></a> &nbsp 
                        {% endif %}

                        {% if shop.social_media.telegram_url%}
                        <a href="{{ shop.social_media.telegram_url}}" target="_blank"><i class="fab fa-telegram-plane" title="Telegram"></i></a>&nbsp 
                        {% endif %}

                        {% if shop.social_media.twitter_url%}
                        <a href="{{shop.social_media.twitter_url}}" target="_blank"><i class="fab fa-twitter" title="Twitter"></i></a>&nbsp 
                        {% endif %}
                        {% if shop.social_media.instagram_url%}
                        <a href="{{shop.social_media.instagram_url}}" target="_blank"><i class="fab fa-instagram" title="Instagram"></i></a> </div>
                        {% endif%}
                    </div>
                 </div>

                {% endif %}
                {% endwith %}
                    
                    
                <div class ="cart-product-form" >
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {% csrf_token %}
                                {{ cart_product_form }}             
                        <input type="submit" value="{% translate 'Add to cart' %}" style="cursor: pointer;">
                    </form>
                    <div>
                        <p>
                        {{ product.name }} => <a href="{{ product.category.get_absolute_url }}">
                                {{ product.category }}
                            </a>
                        </p>
                        <h2 class="price">{{ product.price }} {% translate 'Birr' %}</h2>
                    </div>
                </div>
                <p>{{ product.description|linebreaks }}</p>
            </div>
        </div>


{% if recommended_products %}
        <div class="recommendations">
            <h3>{% translate 'Poeple who bought this also bought' %}</h3>
            <div class ="recommendations-items">
            {% for p in recommended_products %}
             <a href="{{ p.get_absolute_url }}">
            <div class="item">
               
              <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" width=200px height=200px>
               
                <p>{{ p.name }}</p>
                <p>{{p.price}} {% translate 'Birr' %}</p>
            </div>
            </a>
            {% endfor %}
            </div>
        </div>
         {% endif %}
</div>

<script src="{% static 'js/productdetail.js' %}"></script>




{% endblock %}
