{% extends "shop/base.html" %}
{% load i18n static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block product-sort  %}
{% endblock %}
{% block style %}
<style>
 
</style>
{% endblock %}
{% block content %}
<div class="product-detail-wrapper" >
 <div class="product-detail">
     <div class="product-detail_body">
           <div class="product-detail_image-container" >
                <div  class="image-scroll">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
                </div>
            </div>
            <div class="product-detail_side-bar">
                <h1> {% blocktranslate with shopname=product.shop %} Dear Customer, Welcome to <strong>{{shopname}}</strong>{% endblocktranslate %}</h1>
                <h1>{{ product.name }}</h1>
                <h2>
                    <a href="{{ product.category.get_absolute_url }}">
                        {{ product.category }}
                    </a>
                </h2>
                <p class="price">{{ product.price }}{% translate 'Birr' %}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_product_form }}
                    <input type="submit" value="{% translate 'Add to cart' %}" style="cursor: pointer;">
                </form>
                <p>{{ product.description|linebreaks }}</p>
            </div>
     </div>


{% if recommended_products %}
        <div class="recommendations">
            <h3>{% translate 'Poeple who bought this also bought' %}</h3>
            {% for p in recommended_products %}
            <div class="item">
                <a href="{{ p.get_absolute_url }}">
                    <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
            </div>
            {% endfor %}
        </div>
         {% endif %}
</div>
<diV class="product-detail_advertize">
 <h1> {%translate 'ADVERTISEMENT' %} <h1>

{% if adds %}
   {% for ad in adds %}
    <div class="ad-container" id="ad-container-{{ forloop.counter }}">
     <button class="hide-ads-btn" class="btn btn-danger" onclick="handleAddsButtonClicked({{ forloop.counter }})" title='hide'>X</button>
     {% if ad.images %}
        {% for adimg in ad.images.all %}
            <div class="add-item" id="ad-item-{{ forloop.counter }}">
                <a href="{% if ad.url %}{{ ad.url }}{% else %}# {% endif %}">
                    <img src="{% if adimg %}{{ adimg.image.url }}{% endif %}" class="ad-image" alt="Ad Image">
                    <div class="ad-description">{{ ad.description }}</div>
                </a>
            </div>
        {% endfor %}
     {% endif %}
    </div>
   {% endfor %}
 
 {% endif %}

</diV>
</div>
<script src="{% static 'js/productdetail.js' %}"></script>




{% endblock %}
