{% extends "shop/base.html" %}
{% load i18n static %}
{% block title %}
{% translate "Checkout" %}
{% endblock %}
{% block shop-filter %}
{% endblock %}
{% block content %}
 <h1> {%translate 'please fill the following form to place an order'%}  </h1>
 <div class="order-info">
 <h3>{% translate "Your order" %}</h3>
     <ul>
    {% for item in cart %}
      <li>
    <div class="order-info_body">
      <div class="order-info_image">
      <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" width="100" height="100">
      </div>
        <div class="order-info_dicr">
        {{ item.quantity }}x <br/>
         {{ item.product.name }}
        </div>
        {% translate 'Birr' as birr%}
        <span>{{ item.total_price }} {{birr}}</span>
        </div>
      </li>
   {% endfor %}
  {% if cart.coupon %}
    <li>

    {% blocktranslate with code=cart.coupon.code discount=cart.coupon.dicount_amount %}
      "{{ code }}" ({{ discount }}% off)
      {% endblocktranslate %}
     <span class="neg">- {{ cart.get_discount|floatformat:2 }} {{birr}}</span>
    </li>
  {% endif %}
   </ul>
   <p>{%translate 'Total'%}: {{ cart.get_total_price_after_discount|floatformat:2 }} {{birr}}</p>
 </div>
   {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
           {{ error }}  

        </div>
    {% endif %}
<div class="order-form">    
 <form method="post" class="order-form">
 {{ form.as_p }}
 <label for="delivery_date">Delivery Date</label>
   <input type="date" class="form-control" id="delivery_date" name="delivery_date" placeholder="Select a date">
 <p><input type="submit" value="{%translate 'Place order' %}"></p>
 {% csrf_token %}
 </form>
 </div>
 
{% endblock %}