{% extends "shop/base.html" %}
{% load i18n %}
{% block title %}
{% translate "Checkout" %}
{% endblock %}
{% block content %}
 <h1> {%translate 'please fill the following form to place an order'%}  </h1>
 <div class="order-info">
 <h3>{% translate "Your order" %}</h3>
     <ul>
    {% for item in cart %}
      <li>
        {{ item.quantity }}x {{ item.product.name }}
        {% translate 'Birr' as birr%}
        <span>{{ item.total_price }} {{birr}}</span>
      </li>
   {% endfor %}
  {% if cart.coupon %}
    <li>

    {% blocktranslate with code=cart.coupon.code discount=cart.coupon.dicount_amount %}
      "{{ code }}" ({{ discount }}% off)
      {% endblocktranslate %}
     <span class="neg">- {{ cart.get_discount|floatformat:2 }} {{birr}}</span>
    </li>
  {% endif %}
   </ul>
   <p>{%translate 'Total'%}: {{ cart.get_total_price_after_discount|floatformat:2 }} {{birr}}</p>
 </div>
   {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
           {% blocktranslate%} {{ error }}  {% endblocktranslate %}

        </div>
    {% endif %}
 <form method="post" class="order-form">
 {{ form.as_p }}
 <p><input type="submit" value="{%translate 'Place order' %}"></p>
 {% csrf_token %}
 </form>
{% endblock %}