<!-- templates/shop/signup.html -->

{% extends "shop/base.html" %}
{% load i18n %}
{% block style %}
<style>
form .form-control {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
.form-body{
  display: flex;
  justify-content: center;
  align-items: center; 
  width:50%;
  margin:0 10px;
}
.form-body .form-container{
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:100%;
  background-color:lightblue;
  margin-bottom:10px;
}

.btn-primary  {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  width: 50%;
  margin-top:20px;
}

.btn-primary:hover {
  background-color: #0056b3;
}
.login{
  display:flex;
  margin-bottom: 10px;
}
.login_advertize{
  width:25%;
}
.login-left{
  width:25%;
}

</style>
{% endblock %}
{%block searchField%}
{% endblock %}
{% block cart %}
{% endblock %}
{% block shop-filter %}
{% endblock %}


{% block title %}
   Login
{% endblock %}
{% block content %}
<div class="login">
<div class="login-left">
</div>
<div class="form-body">
<div class="form-container">
    <h1>Login</h1>
    {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form class="sinup-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>   
          <a class="nav-link" href="{% url 'signupaccount' %}" onmouseover="hoverEffect(this, '#0056b3')" onmouseout="hoverEffect(this, '#007bff')">Sign Up</a>

    </form>
    <p> <a href ="{% url 'resset_passowrd' %}" class="forgot-pass">Forgot password?</a></p>


</div>
</div>
<diV class="login_advertize">
          <h1> {%translate 'ADVERTISEMENT' %} <h1>
    

{% if adds %}
   {% for ad in adds %}
    <div class="ad-container" id="ad-container-{{ forloop.counter }}">
     <button class="hide-ads-btn" class="btn btn-danger" onclick="handleAddsButtonClicked({{ forloop.counter }})" title='hide'>X</button>
     {% if ad.images %}
        {% for adimg in ad.images.all %}
            <div class="add-item" id="ad-item-{{ forloop.counter }}">
                <a href="{% if ad.url %}{{ ad.url }}{% else %}# {% endif %}">
                    <img src="{% if adimg %}{{ adimg.image.url }}{% endif %}" class="ad-image" alt="Ad Image">
                    <div class="ad-description">{{ ad.description }}</div>
                </a>
            </div>
        {% endfor %}
     {% endif %}
    </div>
   {% endfor %}
 {% else %}
    <p>No advertisements available.</p>
 {% endif %}


</diV>
</div>

<script>
    function hoverEffect(element, color) {
    element.style.color = color;
}
function handleAddsButtonClicked(containerId) {
    // Get the ad-container with the specific ID
    const adsContainer = document.getElementById(`ad-container-${containerId}`);
    if (adsContainer) {
        adsContainer.style.visibility = 'hidden';
    }
}

document.addEventListener('DOMContentLoaded', function() {
    const adContainers = document.querySelectorAll('.ad-container');
    adContainers.forEach((container, index) => {
        const ads = container.querySelectorAll('.add-item');
        let currentIndex = 0;

        function showNextAd() {
            ads[currentIndex].classList.remove('active');
            currentIndex = (currentIndex + 1) % ads.length;
            ads[currentIndex].classList.add('active');
        }

        if (ads.length > 0) {
            ads[0].classList.add('active');
            setInterval(showNextAd, 3000); // Change ad every 3 seconds
        }
    });
});
</script>
{% endblock %}
