<!-- templates/shop/signup.html -->

{% extends "shop/base.html" %}
{% block title %}
   Login
{% endblock %}
{% block content %}
<div class="sinupcontainer">
    <h1>Login</h1>
    {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form class="sinup-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    if you have no account <a class="nav-link" href="{% url 'signupaccount' %}" onmouseover="hoverEffect(this, '#0056b3')" onmouseout="hoverEffect(this, '#007bff')">Sign Up</a>

</div>
<script>
    function hoverEffect(element, color) {
    element.style.color = color;
}
</script>
{% endblock %}
