<!-- templates/shop/signup.html -->

{% extends "shop/base.html" %}
{% block title %}
    Sign Up
{% endblock %}
{%block searchField%}
{% endblock %}
{% block cart %}
{% endblock %}
{% block shop-filter %}
{% endblock %}
{% block content %}
<div class="sinupcontainer">
    
    {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
         {% endif %}
      
        <div>
          <p>
        Join us or sign in
Track your future orders, checkout faster, and sync your favorites. 
Just enter your email and we’ll send you a special link that will sign you in instantly.
An account will be automatically created for you if you don’t have one yet.
        </p>
        </div>
   <h1>Sign Up</h1>
   
    <form class="sinup-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %}
