.category-item {
    position: relative;
    padding: 10px;
    background-color: #f8f9fa;
    /* Ensure text color is black */
    color: black;
}

.subcategories {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.category-item:hover .subcategories {
    display: block;
}

.subcategories li {
    padding: 10px;
    background-color:lightblue;
    width: 100%;
}
.subcategories ul li.selected {
    background:#5993bb;
    border-radius:4px;
    display: block;
}
.subcategories ul li.selected a {
    color:#fff;
}

.subcategories li a {
    color: lightblue; /* Ensure link color is black */
    text-decoration: none;
    
}


.selected {
    font-weight: bold;
}
.subcatagorya-element{
   color: black;
}


.body-content{
    display: flex;
}