




.order-form {
    margin-left: 30px;
    width: 30%;
    float: left;
    color:#333;
    font-weight: bold;
    display: inline;
  }
  
  .order-rapper{
    padding: 15px;
  }
  .shop-order-info{
    float: left;
    width: 35%;
    margin: 0 15px;
    color:#333
  }
  .order-info {
    float: right;
    width: 25%;
    background: #efefef;
    padding: 10px 20px 10px 5px;
    color: #333;
    border-bottom: 4px solid #5993bb;
  }
  #delivery_date{
    width: 200px;
    float: right;
    padding: 10px;
    background-color: #EEEFEE;
    margin-bottom: 10px;
    border:none;
  }
  
  .order-info h3 {
    color: #5993bb;
  }
  
  .order-info ul li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
  }
  
  .order-info p {
    font-weight: bold;
    float: right;
  }
  
  .order-info .order-info_body span {
    float: right;
  }
  .order-info .order-info_body {
    display: flex;
  }
  .order-info .order-info_body .order-info_image {
    margin-right: 10px;
  }

.form-inline .form-group .inline-label-input{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-inline .form-group .inline-label-input label {
    margin-right: 1rem;
    min-width: 100px; /* Set a fixed width for labels if needed */
}

.form-inline .form-group .inline-label-input input,
.form-inline .form-group .inline-label-input select,
.form-inline .form-group .inline-label-input textarea {
    flex: 1;
    max-width: 150px; /* Adjust width as needed */
}
.form-control{
  height:30px;
  border:none;
  background-color:#ececec;
}
.form-group  input[type='submit']{
  text-align:center;
cursor: pointer;  
border-radius: 5px;
}
.form-group.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

button.btn {
    min-width: 150px; 
}