@media (max-width: 768px) {
  .navbar-menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    width: 200px;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
    background-color: aliceblue;

  }
 .product-search .cart{
    display: block;
    height:80px;
    padding: 10px;
  }
  
  #content  {
    margin: 0px;
    padding: 0;
  }
  .body-content{
    margin: 0;
    padding: 10px;
  }
  .sidebar{
    padding: 0;
    margin-right: 20px;
  }
  .sidebar-menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    position: absolute;
    left: 0;
    z-index: 3;
  }

  .navbar-menu.active,
  .sidebar-menu.active {
    display: flex;
  }

  .nav-link {
    padding: 10px;
    text-align: center;
  }

  .navbar-toggler {
    display: block;
  }
  .sidebar-toggler {
    display: inline;
    z-index: 2;
    background-color: azure;
  }
  .product-detail_advertize{
    display:none;
  }
  .product-detail {
    width: 100%;
    padding: 0;
  }.product-detail_body {
    margin: 0;
    padding: 0;
  }
  .product-detail_image-container {
    width: 350px;
    margin: 0;
    padding: 0;
  } 
   .image-scroll img {
    width:100%;
    margin: 0;
  }
  .product-detail_image-container .related-images img{
    width:100px;
    height: 100px;
    cursor: pointer;
 
   }
  .product-detail .product-detail_side-bar {
    width:350px;
    margin: 0;
  }
  button.previmg {
    left: 10px;
  }
  
  button.nextimg {
    right: 10px;
  }
  .shop-order-info{
    clear: both;
    width: 100%;
    display: flex;

  }
  .order-form {
    width: 50%;
    margin:10px;
  }
  .order-info{
    width: 30%;
    padding: 10px;
  }
  .order-rapper{
    padding: auto;
  }
  .order-info_body{
    width: 100%;

  }
  .order-info_image img{
    width: 50px;
    height: 50px;

  }
  .shop-info-wrapper{
    width: 350px;
    left: 10px;
    padding: 5px;

  }
 
  #subheader .cart {
    float: right;
    padding-top: 4px;
    margin: 15px 10px;
   
  }
 
}
/* For tablets and mobile devices */
@media screen and (max-width: 768px) {
  #right-bar {
    float: none;
    margin: 0;
    padding: 10px 0;
  }

 
.shop-logo{
  background-color: red;
}
  .product-list .product-item {
    width: 40%;
    padding: 5px;
  }
  .product-list h1 {
    font-size: medium;
  }
  .shop-order-info{
    clear: both;
    width: 100%;
    display: flex;

  }
}

/* For smaller mobile devices */
@media screen and (max-width: 480px) {
  .product-list .product-item {
    width: 100%;
    padding: 10px;
  }
  .shop-order-info{
    clear: both;
    width: 100%;
    display: flex;

  }
  #sidebar h3,
  #right-bar h3 {
    text-align: center;
  }
  
}
@media (min-width: 768px)  and (max-width:959px){
  .shop-order-info{
    clear: both;
    width: 100%;
    display: flex;
  }
  #header .site-logo{
    display: none;
  }
  .order-form {
    width: 50%;
    margin:10px;
    border-right:1px solid red ;
align-items: center;  }
  .order-info{
    width: 40%;
    padding: 10px;
  }
  .product-search .cart{
    display: block;
    height:80px;
    padding: 10px;
  }
  .product-list .product-item {
    width: 40%;
    padding: 5px;
  }
  .product-list h1 {
    font-size: medium;
  }
  .product-detail {
    width: 100%;
    padding: 0;
  }
  .product-detail_body {
    margin: 0;
    padding: 0;
  }
  .product-detail_image-container {
    width: 400px;
    margin: 0;
    padding: 0;
  } 
   .image-scroll img {
    width:100%;
    margin: 0;
  }
  .product-detail_image-container .related-images img{
    width:100px;
    height: 100px;
    cursor: pointer;
 
   }
  .product-detail .product-detail_side-bar {
    width:300px;
    margin: 0;
  }
  button.previmg {
    left: 10px;
  }
  
  button.nextimg {
    right: 10px;
  }
}
@media (min-width: 960px)  and (max-width:1200px){
  .product-detail_body {
    margin-left: auto;
    margin-right: auto;
  }

  .product-detail_image-container {
   width: 400px;

  }
  .product-detail .product-detail_side-bar {
    width: 400px;
  }
  button.previmg {
    left: 10px;
  }
  
  button.nextimg {
    right: 10px;
  }
}