@media (max-width: 768px) {
  .navbar-menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    width: 200px;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
    background-color: aliceblue;
  }

  .sidebar-menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .navbar-menu.active,
  .sidebar-menu.active {
    display: flex;
  }

  .nav-link {
    padding: 10px;
    text-align: center;
  }

  .navbar-toggler {
    display: block;
  }
  .sidebar-toggler {
    display: inline;
  }
  .product-detail_advertize{
    display:none;
  }
  .product-detail {
    width: 100%;
  }
  .shop-order-info{
    clear: both;
    width: 100%;
    display: flex;

  }
  .order-form {
    width: 50%;
    margin:10px;
  }
  .order-info{
    width: 30%;
    padding: 10px;
  }
  .order-rapper{
    padding: auto;
  }
  .order-info_body{
    width: 100%;

  }
  .order-info_image img{
    width: 50px;
    height: 50px;

  }
}
/* For tablets and mobile devices */
@media screen and (max-width: 768px) {
  #right-bar {
    float: none;
    margin: 0;
    padding: 10px 0;
  }

  #main {
    width: 100%;
    float: none;
  }

  .product-list .product-item {
    width: 40%;
    padding: 5px;
  }
  .product-list h1 {
    font-size: medium;
  }
  .shop-order-info{
    clear: both;
    width: 100%;
    display: flex;

  }
}

/* For smaller mobile devices */
@media screen and (max-width: 480px) {
  .product-list .product-item {
    width: 100%;
    padding: 10px;
  }
  .shop-order-info{
    clear: both;
    width: 100%;
    display: flex;

  }
  #sidebar h3,
  #right-bar h3 {
    text-align: center;
  }
  
}
@media (min-width: 768px)  and (max-width:959px){
  .shop-order-info{
    clear: both;
    width: 100%;
    display: flex;
  }
  #header .site-logo{
    display: none;
  }
  .order-form {
    width: 50%;
    margin:10px;
    border-right:1px solid red ;
align-items: center;  }
  .order-info{
    width: 40%;
    padding: 10px;
  }
}