{% load static %}
<!DOCTYPE html>
<html>
 <head>
  <style>
       

        #header {
             
            width: 80%;
            height: 100px; /* Adjust the height as needed */
            background-image: url('{% static 'img/logo.jpeg' %}');
            background-size: cover; /* Adjust to 'contain' or 'cover' depending on your needs */
            background-position: center;
            background-repeat: no-repeat;
            margin: 20px auto; /* Adjust the margin as needed */

            
        }
       
    </style>
  <script>
    function hoverEffect(element, color) {
    element.style.color = color;
}
</script>
 <meta charset="utf-8" />
 <title>{% block title %}Jemberu's shop{% endblock %}</title>
 <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/listpage.css' %}" rel="stylesheet">
  <link href="{% static 'css/sinupform.css' %}" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Responsive meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
 <div id="header">
 <a href="/" class="logo"> Bahir Dar City online Shoping</a>
<nav class="navbar" style="float:right">
        <div class="navbar-nav ms-auto" >
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'shop:add_shop' %}" onmouseover="hoverEffect(this, '#0056b3')" onmouseout="hoverEffect(this, '#007bff')">register your Business</a>
             {% endif %}
            <a class="nav-link" href="#" onmouseover="hoverEffect(this, '#0056b3')" onmouseout="hoverEffect(this, '#007bff')">News</a>
            {% verbatim %}
            <a class="nav-link" href="https://jenberu.github.io/MyPortifolo" onmouseover="hoverEffect(this, '#0056b3')" onmouseout="hoverEffect(this, '#007bff')">About Me</a>
            {% endverbatim %}
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logoutaccount' %}" onmouseover="hoverEffect(this, '#0056b3')" onmouseout="hoverEffect(this, '#007bff')">Logout</a>
               
            {% else %}
                <a class="nav-link" href="{% url 'loginaccount' %}" onmouseover="hoverEffect(this, '#0056b3')" onmouseout="hoverEffect(this, '#007bff')">Login</a>
                <a class="nav-link" href="{% url 'signupaccount' %}" onmouseover="hoverEffect(this, '#0056b3')" onmouseout="hoverEffect(this, '#007bff')">Sign Up</a>
            {% endif %}
        </div>
    </nav>

 </div>
 
 
 <div id="subheader">


 
 <div class="cart">

 {% with total_items=cart|length %}
   {% if total_items > 0 and user.is_authenticated %}
     Your cart:<a href="{% url 'cart:cart_detail' %}">
     {{ total_items }} item{{ total_items|pluralize }}, {{cart.get_total_price}} Birr
      <a>
    {% elif not order and user.is_authenticated %}
       Your cart is empity
    {% endif %}
  {% endwith %}
 </div>
 </div>
 <div id="content">
 {% block content %}
 {% endblock %}
 </div>
<footer class="text-center text-lg-start bg-light text-muted mt-4">
        <div class="footer-content">
            <p>&copy; {% now "Y" %} My online shop App. All rights reserved.</p>

            Developing by: Jemberu Kassie -- Contact me: <a href="mailto:jemberu0970@gmail.com">Send Email</a>
            <div class="social-icons">
                <a href="https://www.facebook.com/jenberu" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://telegram.me/i_love_my_lovers" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                <a href="https://www.instagram.com/jemberu" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
 </body>
</html>